/* ------------------------------------------------ */
/* -- Text Gradient Animation --------------------- */
/* ------------------------------------------------ */
.animate-aurora {
  background-image: linear-gradient(
    135.01deg,
    #ff3337 -0.04%,
    #f8ca53 38%,
    #f8ca53 50%,
    rgb(5 195 145 / 80%) 90.71%,
    #ff3337 117%
  );
}
@keyframes aurora {
  0% {
    background-position: 0;
    transform: rotate(-5deg) scale(0.9);
  }
  25% {
    background-position: 50% 100%;
    transform: rotate(5deg) scale(1.1);
  }
  50% {
    background-position: 100%;
    transform: rotate(-3deg) scale(0.95);
  }
  75% {
    background-position: 50% 0;
    transform: rotate(3deg) scale(1.05);
  }
  to {
    background-position: 0;
    transform: rotate(-5deg) scale(0.9);
  }
}

/* ------------------------------------------------ */
/* -- Marquee Animations -------------------------- */
/* ------------------------------------------------ */

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}

/* ------------------------------------------------ */
/* -- Scroll Animations --------------------------- */
/* ------------------------------------------------ */

.animate-on-scroll,
.animate-on-scroll .stagger {
  opacity: 0;
  filter: blur(3px);
  visibility: hidden;
  transition: all var(--tw-duration, 1s) cubic-bezier(0.23, 1, 0.32, 1);
}

.animate-on-scroll.animate-on-scroll-enter,
.animate-on-scroll.animate-on-scroll-enter .stagger {
  opacity: 1;
  filter: blur(0px);
  visibility: visible;
  transform: translate(0);
}

.fade-in-up {
  transform: translateY(100px);
}
.fade-in-down {
  transform: translateY(-50px);
}
.fade-in-left {
  transform: translateX(100px);
}
.fade-in-right {
  transform: translateX(-100px);
}

.animate-on-load {
  opacity: 0;
}
.animate-on-load-enter {
  animation: animate-on-load 300ms ease-in-out forwards;
}
@keyframes animate-on-load {
  to {
    opacity: 1;
    filter: blur(0);
    transform: translate(0, 0);
  }
}

/* ------------------------------------------------ */
/* -- Wave loading Animation ---------------------- */
/* ------------------------------------------------ */

.page-loader-exit {
  /* display: none; */
  animation: fadeOut var(--loader-time) ease-out forwards;
}

@keyframes fadeOut {
  90% {
    opacity: 1;
    filter: blur(0px);
  }
  to {
    opacity: 0;
    filter: blur(6px);
  }
}

@keyframes wave-animation {
  0% {
    background-position: 0 bottom;
  }
  100% {
    background-position: 200px bottom;
  }
}
@keyframes loading-animation {
  0% {
    background-size: 200px 0px;
  }
  100% {
    background-size: 200px 200px;
  }
}
.wave-loading {
  background-image: url('/images/wave-loader.png');
  -moz-background-clip: text;
  -o-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0px 0px rgba(255, 255, 255, 0.06);
  animation:
    wave-animation 1s infinite linear,
    loading-animation 2s infinite linear alternate;
  background-size: 200px 100px;
  background-repeat: repeat-x;
  opacity: 1;
  text-transform: uppercase;
  height: 120px;
  line-height: 110px;
  position: relative;
  display: block;
}
