@import 'tailwindcss';

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4 sm:px-6;
  }
  .o {
    outline-style: solid;
  }
}

/* #6f6fe7 */
@theme {
  --color-accent: #05c391;
  --color-accent-light: #57dcb4;
  --color-accent-dark: #00835b;
  --color-level-100: #15151e;
  --color-ground: #1f1d2b;
  --color-glow-pink: #fb37ff;
  --color-glow-cyan: #18b2de;

  --font-sans: 'Poppins', sans-serif;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;

  @media (width >= theme(--breakpoint-2xl)) {
    padding-inline: 4rem;
  }
}

.gradient-text {
  padding-right: 4px;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(
    135.01deg,
    #ff3337 -0.04%,
    #f8ca53 38%,
    /* #009a8f 63.71%, */ #05c391 63.71%,
    rgba(255, 255, 255, 0) 117%
  );
}

/* ------------------------------------------------ */
/* -- backgrounnd color & blob -------------------- */
/* ------------------------------------------------ */
.landingpage {
  margin: 0 auto;
  position: relative;
  background-color: var(--color-ground);
}
.landingpage::before {
  content: '';
  position: absolute;
  width: 123px;
  height: 123px;
  left: 60%;
  top: 210px;
  filter: blur(90px);
  background-color: var(--color-glow-pink);
}
.landingpage::after {
  content: '';
  position: absolute;
  width: 123px;
  height: 123px;
  right: 5%;
  top: 550px;
  background-color: var(--color-glow-cyan);
  filter: blur(80px);
}
.cta-wrapper {
  position: relative;
}
.cta-wrapper::before {
  content: '';
  position: absolute;
  width: 123px;
  height: 123px;
  right: 5%;
  top: -50px;
  filter: blur(110px);
  background-color: var(--color-glow-pink);
}
.cta-wrapper::after {
  content: '';
  position: absolute;
  width: 123px;
  height: 123px;
  left: 5%;
  bottom: -50px;
  background-color: var(--color-glow-cyan);
  filter: blur(130px);
}

._ > *:not(path):not(g) {
  color: hsla(210, 100%, 100%, 0.9) !important;
  background: hsla(210, 100%, 50%, 0.5) !important;
  outline: solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;
  box-shadow: none !important;
}
