@import 'tailwindcss';

/* Custom local styles */
@import './base.css';
@import './animations.css';

:root {
  --loader-time: 1000ms;
  --loader-delay: 800ms;
}

/* #6f6fe7 */
@theme {
  --color-primary: #05c391;
  --color-primary-light: #57dcb4;
  --color-primary-dark: #00835b;
  --color-accent: #f6be2b;
  --color-level-100: #15151e;
  --color-ground: #1f1d2b;
  --color-glow-pink: #fb37ff;
  --color-glow-cyan: #18b2de;

  --shadow-glow: 0 0px 30px 0 var(--tw-shadow-color, rgb(0 0 0 / 0.1));

  --font-sans: 'Poppins', sans-serif;

  --animate-aurora: aurora 8s ease-out infinite alternate;
  --animate-marquee: marquee var(--duration, 20s) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration, 20s) infinite linear;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;

  @media (width >= theme(--breakpoint-2xl)) {
    padding-inline: 4rem;
  }
}
