<div class='page-loader bg-ground fixed inset-0 z-50 flex h-screen flex-col items-center justify-center text-white'>
  <span class='loading wave text-3xl font-bold lg:text-6xl'>loading</span>
</div>

<style>
  .page-loader-exit {
    /* display: none; */
    animation: fadeOut 300ms ease-out forwards;
  }

  @keyframes fadeOut {
    10% {
      opacity: 0;
    }
    to {
      opacity: 0;
    }
  }

  .loading {
    text-transform: uppercase;
    height: 120px;
    line-height: 110px;
    vertical-align: bottom;
    position: relative;
    display: block;
  }

  @keyframes wave-animation {
    0% {
      background-position: 0 bottom;
    }
    100% {
      background-position: 200px bottom;
    }
  }
  @keyframes loading-animation {
    0% {
      background-size: 200px 0px;
    }
    100% {
      background-size: 200px 200px;
    }
  }
  .wave {
    background-image: url('/images/wave-loader.png');
    -moz-background-clip: text;
    -o-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0px 0px rgba(255, 255, 255, 0.06);
    animation:
      wave-animation 1s infinite linear,
      loading-animation 1s infinite linear alternate;
    background-size: 200px 100px;
    background-repeat: repeat-x;
    opacity: 1;
  }
</style>
