---
import CallToAction from '../components/widgets/CallToAction';
import Footer from '../components/widgets/Footer';
import Header from '../components/widgets/Header';
import Hero from '../components/widgets/Hero';
import Project from '../components/widgets/Project';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main >
    <Header />
    <Hero />

    <div class='container'>
      <div class='divide-y-2 divide-zinc-800 border-y-2 border-zinc-800'>
        <Project />
        <Project />
      </div>
    </div>

    <CallToAction />
    <Footer />
  </main>
</Layout>
