---
import CallToAction from '../components/widgets/CallToAction'
import Footer from '../components/widgets/Footer'
import Header from '../components/widgets/Header'
import Hero from '../components/widgets/Hero'
import ProjectShowcase from '../components/widgets/Project'
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <main>
    <Header />
    <Hero client:idle />
    <ProjectShowcase />
    <CallToAction />
    <Footer />
  </main>
</Layout>
