---
import ProjectShowcase from '@/components/widgets/ProjectShowcase.astro'
import Navbar from '@/components/widgets/Navbar.astro'
import CallToAction from '../components/widgets/CallToAction.astro'
import Footer from '../components/widgets/Footer.astro'
import Header from '../components/widgets/Header'
import Hero from '../components/widgets/Hero'
import PageLoader from '../components/widgets/PageLoader.astro'
import Layout from '../layouts/Layout.astro'
import { MyStack } from '@/components/widgets/MyStack'
---

<Layout>
  <PageLoader />
  <Header />
  <Navbar />
  <main class='overflow-hidden'>
    <Hero />
    <MyStack />
    <ProjectShowcase />
    <CallToAction />
    <Footer />
  </main>
</Layout>

<script>
  const options: IntersectionObserverInit = {
    threshold: 0.5, //50% of the element in view
  }
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add('animate-on-scroll-enter')
        observer.unobserve(entry.target)
      }
    })
  }, options)

  const handleAnimationEnd = (loader: Element | null) => {
    // Run entrance animation
    document.querySelectorAll('.animate-on-load').forEach((el) => el.classList.add('animate-on-load-enter'))

    // Set IntersectionObserver for Animate-on-scroll
    document.querySelectorAll('.animate-on-scroll').forEach((el) => {
      // Get stagger delay
      const staggerValue = el.getAttribute('data-stagger')
      const delay = staggerValue !== null ? Number(staggerValue) : 100

      el.querySelectorAll('.stagger').forEach((child, i) => {
        child.style.transitionDelay = `${delay * i}ms`
      })

      observer.observe(el)
    })

    loader?.remove()
  }

  document.addEventListener('DOMContentLoaded', () => {
    const loader = document.querySelector('.page-loader')

    // Start entrance animation immediately if no loader is found
    if (!loader) {
      return handleAnimationEnd(null)
    }
    // Wait for loader animation to end then start entrance animation
    loader.addEventListener('animationend', () => handleAnimationEnd(loader))

    // Run page-loader exit animatin
    loader.classList.add('page-loader-exit')
  })
</script>
