---
import { TwScreenSize } from '@/components/widgets/utils'
import { MY_JOB_TITLE } from '@/config/constants'
import '@/styles/global.css'
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>Hasan Mahmud | {MY_JOB_TITLE}</title>
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'
      rel='stylesheet'
    />
  </head>
  <body class='landingpage min-h-screen overflow-y-scroll tracking-tight text-zinc-900 antialiased dark:text-slate-200'>
    <slot />
  </body>
  {import.meta.env.DEV && <TwScreenSize />}
</html>

<style is:global>
  .landingpage {
    margin: 0 auto;
    position: relative;
    background-color: var(--color-ground);
  }
  .landingpage::before {
    content: '';
    position: absolute;
    width: 123px;
    height: 123px;
    left: 60%;
    top: 210px;
    filter: blur(90px);
    background-color: var(--color-glow-pink);
  }
  .landingpage::after {
    content: '';
    position: absolute;
    width: 123px;
    height: 123px;
    right: 5%;
    top: 550px;
    background-color: var(--color-glow-cyan);
    filter: blur(80px);
  }

  .cta-wrapper {
    position: relative;
  }
  .cta-wrapper::before {
    content: '';
    position: absolute;
    width: 123px;
    height: 123px;
    right: 5%;
    top: -50px;
    filter: blur(110px);
    background-color: var(--color-glow-pink);
  }
  .cta-wrapper::after {
    content: '';
    position: absolute;
    width: 123px;
    height: 123px;
    left: 5%;
    bottom: -50px;
    background-color: var(--color-glow-cyan);
    filter: blur(130px);
  }
</style>
